/*==========CONTRIBUTED BY ARSEN DJURDJEV==========*/
/*sidebar social nav*/
html,
body {
  overflow-x: hidden;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.icon-bar {
    position: fixed;
    padding: 5px;
    top: 65%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #202020;
  }
  
  .icon-bar a {
    display: inline;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    background-color: #202020;
  }
  
  .icon-bar a:hover {
    border-radius: 25% 10%;
    width:0%;
    height:0%;
    background-color: #e6e6e6;
    background-clip: padding-box;
  }
  
  .facebook {
    background: #202020;
    color: white;
  }
  
  .twitter {
    background: #202020;
    color: white;
  }
  
  .github {
    background: #202020;
    color: white;
  }
  
  .linkedin {
    background: #202020;
    color: white;
  }
  
  .youtube {
    background: #202020;
    color: white;
  }
  /**/
  
  
  
  .img-wrap {
    padding: 5px;
    width: 56px;
    height: 56px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
  }
  
  div > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
  }
  
  
  /* Clear floats after image containers */
  
  .row {
    display: flex;
  }
  
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
  }
  
  
  
  .example3 {
   height: 170px;
   overflow: hidden;
   position: relative;
  }
  .example3 h3 {
   position: absolute;
   width: 100%;
   height: 100%;
   margin: 0;
   line-height: 50px;
   text-align: center;
   /* Starting position */
   -moz-transform:translateX(100%);
   -webkit-transform:translateX(100%);
   transform:translateX(100%);
   /* Apply animation to this element */
   -moz-animation: example3 7s ease infinite;
   -webkit-animation: example3 7s ease infinite;
   animation: example3 7s ease infinite;
  }
  /* Move it (define the animation) */
  @-moz-keyframes example3 {
   0%   { -moz-transform: translateX(100%); }
   40%   { -moz-transform: translateX(0%); }
   60%   { -moz-transform: translateX(0%); }
   100% { -moz-transform: translateX(-100%); }
  }
  @-webkit-keyframes example3 {
   0%   { -webkit-transform: translateX(100%); }
   40%   { -webkit-transform: translateX(0%); }
   60%   { -webkit-transform: translateX(0%); }
   100% { -webkit-transform: translateX(-100%); }
  }
  @keyframes example3 {
   0%   {
   -moz-transform: translateX(100%); /* Firefox bug fix */
   -webkit-transform: translateX(100%); /* Firefox bug fix */
   transform: translateX(100%);
   }
   40%   {
   -moz-transform: translateX(0%); /* Firefox bug fix */
   -webkit-transform: translateX(0%); /* Firefox bug fix */
   transform: translateX(0%);
   }
   60%   {
   -moz-transform: translateX(0%); /* Firefox bug fix */
   -webkit-transform: translateX(0%); /* Firefox bug fix */
   transform: translateX(0%);
   }
   100% {
   -moz-transform: translateX(-100%); /* Firefox bug fix */
   -webkit-transform: translateX(-100%); /* Firefox bug fix */
   transform: translateX(-100%);
   }
  }
  
  /* [1] The quick zoom container */
  .img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }
  
  /* Colorize-zoom Container */
  .img-hover-zoom--colorize img {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
  }
  
  /* The Transformation */
  .img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
  }
  
  /* Blur-zoom Container */
  .img-hover-zoom--blur img {
    transition: transform 1s, filter 2s ease-in-out;
    filter: blur(2px);
    transform: scale(1.2);
  }
  
  /* The Transformation */
  .img-hover-zoom--blur:hover img {
    filter: blur(0);
    transform: scale(1);
  }
  
  
  
  
  /* divider classes*/
  
  /* Dashed border */
  hr.dashed {
    display:block;
    border-top: 3px dashed #bbb;
  }
  
  /* Dotted border */
  hr.dotted {
    display:block;
    border-top: 3px dotted #bbb;
  }
  
  /* Solid border */
  hr.solid {
    display:block;
    border-top: 3px solid #bbb;
  }
  
  /* Rounded border */
  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }
  /*zoom out*/
  
  .thumbnail {
  top:-50px;
  left:-35px;
  display:block;
  z-index:999;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  }
  
  /*change the number below to scale to the appropriate size*/
  .thumbnail:hover {
  transform: scale(2);
  
  }
  
  
  
  
  .thumbnail2 {
    top:-50px;
    left:-35px;
    display:block;
    z-index:999;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    }
    
    /*change the number below to scale to the appropriate size*/
    .thumbnail2:hover {
    transform: scale(8);
    
    }
  
  
  
  
  input[id^="spoiler"]{
   display: none;
  }
  input[id^="spoiler"] + label {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 5px 20px;
    background: #e1a;
    color: #fff;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .6s;
  }
  input[id^="spoiler"]:checked + label {
    color: #333;
    background: #ccc;
  }
  input[id^="spoiler"] ~ .spoiler {
    width: 90%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 10px auto 0;
    padding: 10px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all .6s;
  }
  input[id^="spoiler"]:checked + label + .spoiler{
    height: auto;
    opacity: 1;
    padding: 10px;
  }



  
  /*==============================*/